.idea/
test/
testseq_00000.jpg
testseq_00001.jpg
testseq_00002.jpg
testseq_00003.jpg
testseq_00004.jpg
testseq_00005.jpg
testseq_00006.jpg
testseq_00007.jpg
testseq_00008.jpg
testseq_00009.jpg
multiple.dots.jpg.txt